MongoDb is a document based DataBAse(Means mongoDb is equivalent to Dictionary in python or it is called as JSON).A mongoDb is document based DataBase

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://prashantsingh:prashantsingh@cluster0.tulfezf.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
db

Database(MongoClient(host=['ac-dswjgi9-shard-00-00.tulfezf.mongodb.net:27017', 'ac-dswjgi9-shard-00-01.tulfezf.mongodb.net:27017', 'ac-dswjgi9-shard-00-02.tulfezf.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7virvz-shard-0', tls=True), 'test')

In [3]:
client = pymongo.MongoClient("mongodb+srv://prashantsingh:prashantsingh@cluster0.tulfezf.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
db = client['prashantsingh']

In [5]:
data = {"name" : "prashant" , 
       "class" : "Data Science masters" , 
       "time" : "flexi"}

In [6]:
coll_prashantsingh = db["my_record"]

In [7]:
coll_prashantsingh.insert_one(data)

In [8]:
data1 = {"mailo_id" : "prashant@gmail.com" ,
        "phone_number " : 58979765544,
        "address" : "banglore"}

In [9]:
coll_prashantsingh.insert_one(data1)

All the data is on my record on mongodb org

In [10]:
data2 = [{  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashant" ,"Address" : "valey345"},
         {  "name" : "prashand" ,"Address" : "valey345"},
         {  "name" : "prasdf" ,"Address" : "valey345"},
         {  "name" : "pjdfnk" ,"Address" : "valey345"},
         {  "name" : "patient" ,"Address" : "valey34s5"},
         {  "name" : "party" ,"Address" : "valey345"},
         {  "name" : "adddi" ,"Address" : "valey345"},
]

In [11]:
coll_prashantsingh.insert_many(data2)

In [12]:
data3 = {
"name" : "notebook",
"qty" : 50,
"rating"  : [{"score" : 8} , {"score" : 9 }],
 "Size"   : {"height" : 11 , "width" : 8.5, "unit" : "in"},
"status" : "A",
"tags" : ["college-ruled" , "perforated"]
}

In [13]:
coll_prashantsingh.insert_one(data3)

In [14]:
coll_prashantsingh.find_one()

{'_id': ObjectId('64279b814cbefb5762c3dacc'),
 'name': 'prashant',
 'class': 'Data Science masters',
 'time': 'flexi'}

In [17]:
for i in coll_prashantsingh.find():
    print(i)

{'_id': ObjectId('64279b814cbefb5762c3dacc'), 'name': 'prashant', 'class': 'Data Science masters', 'time': 'flexi'}
{'_id': ObjectId('64279d094cbefb5762c3dacd'), 'mailo_id': 'prashant@gmail.com', 'phone_number ': 58979765544, 'address': 'banglore'}
{'_id': ObjectId('6427a06a4cbefb5762c3dace'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dacf'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad0'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad1'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad2'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad3'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad4'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad5'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad6'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad7'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad8'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad9'), 'name': 'prashand', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dada'), 'name': 'prasdf', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dadb'), 'name': 'pjdfnk', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dadc'), 'name': 'patient', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dadd'), 'name': 'party', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dade'), 'name': 'adddi', 'Address': 'valey345'}
{'_id': ObjectId('6427a21a4cbefb5762c3dadf'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'Size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('642ac73116e6a615a2988236'), 'name': 'prashant', 'class': 'Data Science masters', 'time': 'flexi'}
{'_id': ObjectId('642ac73216e6a615a2988237'), 'mailo_id': 'prashant@gmail.com', 'phone_number ': 58979765544, 'address': 'banglore'}
{'_id': ObjectId('642ac73316e6a615a2988238'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988239'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823a'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823b'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823c'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823d'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823e'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823f'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988240'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988241'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988242'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988243'), 'name': 'prashand', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988244'), 'name': 'prasdf', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988245'), 'name': 'pjdfnk', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988246'), 'name': 'patient', 'Address': 'valey34s5'}
{'_id': ObjectId('642ac73316e6a615a2988247'), 'name': 'party', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988248'), 'name': 'adddi', 'Address': 'valey345'}
{'_id': ObjectId('642ac73416e6a615a2988249'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'Size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [19]:
for i in coll_prashantsingh.find({'name' : 'prashant'}):
    print(i)

{'_id': ObjectId('64279b814cbefb5762c3dacc'), 'name': 'prashant', 'class': 'Data Science masters', 'time': 'flexi'}
{'_id': ObjectId('6427a06a4cbefb5762c3dace'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dacf'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad0'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad1'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad2'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad3'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad4'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad5'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad6'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad7'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('6427a06a4cbefb5762c3dad8'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73116e6a615a2988236'), 'name': 'prashant', 'class': 'Data Science masters', 'time': 'flexi'}
{'_id': ObjectId('642ac73316e6a615a2988238'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988239'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823a'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823b'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823c'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823d'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823e'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a298823f'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988240'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988241'), 'name': 'prashant', 'Address': 'valey345'}
{'_id': ObjectId('642ac73316e6a615a2988242'), 'name': 'prashant', 'Address': 'valey345'}

In [ ]:
coll_prashantsingh.find({"_id" :{"$gte" : 'Here we have to write our desired value that we need to find'}}) :
    print(i) # gte --> Means Greater than equal to or gt means greater

In [20]:
coll_prashantsingh.update_many({'name' : 'prashant'},{"$set" : {'name' : 'Sushant'}})

If we Have to delete we use collection.drop to delete all....